body{
    background-color: #1c1c1c;
    font-weight: 300;
    perspective: 1000px;
}

.container-fluid{
    max-width: 1680px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

